[layout][small-space] > * + *,
[layout] > button + * {
	margin-left: 4px;
}

[nowrap] {
	white-space: nowrap;
}
input[type="radio"],
input[type="checkbox"] {
	flex-shrink: 0;
	transition: background-color 60ms, color 60ms, border 60ms, opacity 60ms;
}
input:not([type="radio"]):not([type="checkbox"]) {
	transition: background-color 160ms, color 160ms, border 160ms, opacity 160ms;
}

#status {
	text-transform: capitalize;
}

button {
	transition: all 0.2s;
	text-transform: capitalize;
}

label > input[type="radio"],
label > input[type="checkbox"] {
	margin-right: 6px;
}
[fx-item] > input[type="radio"],
[fx-item] > input[type="checkbox"] {
	margin-right: 12px !important;
}

flexus-tabs {
	margin-top: 8px !important;
	align-self: flex-start;
	text-transform: uppercase;
	font-weight: 500;
}
	flexus-tabs > * {
		padding: 0 var(--gutter) !important;
	}
flexus-pages {
	padding-top: 0 !important;
}

#log {
	font-size: 14px;
	font-family: monospace;
	white-space: pre-line;
}
	#log > .log-line {
		margin: 0;
		padding: 3px 0;
		display: flex;
	}
	#log > .log-line + .log-line {
		border-top: 1px solid rgba(var(--foreground-rgb), 0.1)
	}
		.log-timestamp {
			margin-right: 12px;
		}
		.log-text {
			flex: 1;
		}

.two-line-input {
	margin: 10px 0 6px 0;
}
